.Home {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  & .left {
    width: 700px;
    margin-right: 20px;
    position: relative;
    z-index: 10;
  }

  & .right {
    width: 300px;
    position: relative;
    z-index: 5;
  }
}