.More {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  user-select: none;

  svg {
    width: 30px;
    height: 30px;
    fill: #7952b3;
    transition: opacity .2s ease, transform .2s ease;
  }

  .page {
    width: 200px;
    height: 30px;
    // border: 1px solid #7952b3;
    line-height: 30px;
    overflow: hidden;

    .page-scroll {
      white-space: nowrap;
    }

    .num {
      display: inline-block;
      // border: 1px solid #eeeeee;
      width: 40px;
      height: 20px;
      text-align: center;
      line-height: 20px;
      transition: all .2s ease;
      font-size: 20px;

      &.curr {
        font-weight: 700;
        font-size: 25px;
      }
    }
  }

  .last {
    svg:nth-child(1) {
      opacity: 1;
    }

    svg:nth-child(2) {
      opacity: 0;
    }

    &:hover {
      svg:nth-child(2) {
        opacity: 1;
        transform: translateX(-30px) scale(1.1);
      }

      svg:nth-child(1) {
        opacity: 0;
        transform: translateX(-20px) scale(.3);
      }
    }
  }

  .next {
    svg:nth-child(1) {
      opacity: 0;
    }

    svg:nth-child(2) {
      opacity: 1;
    }

    &:hover {
      svg:nth-child(1) {
        opacity: 1;
        transform: translateX(30px) scale(1.1);
      }

      svg:nth-child(2) {
        opacity: 0;
        transform: translateX(20px) scale(.3);
      }
    }
  }
}