.Prospects {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  & * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-usertouch-callout: none;
    -moz-touch-callout: none;
    -ms-touch-callout: none;

    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
  }

  .IS {
    height: 0px;
    animation: IS 1s .5s forwards;
  }

  .HS {
    height: 0px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    animation: HS 1s forwards;
  }

}